<html>
    <head>
        <title>Billionaires</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <base href="/">
        <link rel="icon" href="favicon.ico" type="image/png">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <!-- PWA -->
        <meta name="theme-color" content="#00d1b2"/>
        <link rel="manifest" href="manifest.json">
    </head>

    <body>
        <header>
            <section class="hero is-primary">
                <div class="hero-body">
                <p class="title">
                    Forbes list of billionaires 2022
                </p>
                <p class="subtitle content">
                    An example of pwa web, data from 
                    <a href="https://www.forbes.com/real-time-billionaires/#f823ef83d788">
                       Forbes web
                    </a> 
                </p>
                </div>
            </section>
        </header>
        <main class="container">
            <div class="is-flex-wrap-wrap" id="example-list">
                <div class="container" v-for="item in items">

                    <div class="card">
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-48x48" style="overflow: hidden;">
                                        <img :src="item.img" :alt="item.name + ' image '">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4">{{ item.name }}</p>
                                    <p class="subtitle is-6">年齡: {{ item.age }}</p>
                                </div>
                            </div>
    
                            <div class="content">
                                <ul>
                                    <li>資產淨值: ${{ item.newWorth }}B</li>
                                    <li>國家: {{ item.country }}</li>
                                    <li>財富來源: 
                                        <span v-for="(source, index) in item.sourceOfWealth">
                                            {{ index > 0 ? ',' : ''}} {{ source }}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </main>
        <footer class="footer">
            <div class="content has-text-centered">    
                <p>2022 &copy; Ian Tsai</p>
            </div>
        </footer>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script text="javascript">
        var app4 = new Vue({
            el: '#example-list',
            data: {
                items: [{ 
                    name: 'Elon Reeve Musk',
                    newWorth: 265.7,
                    age: 51,
                    country: 'United States',
                    sourceOfWealth: ['Tesla', 'SpaceX'],
                    img: '/imgs/Elon_Musk.jpg'
                }, {
                    name: 'Bernard Arnault & family',
                    newWorth: 172.4,
                    age: 73,
                    country: 'France',
                    sourceOfWealth: ['LVMH'],
                    img: 'https://cdn.britannica.com/09/225009-050-9BA6E880/French-businessman-Bernard-Arnault-2017.jpg'
                }, {
                    name: 'Jeff Bezos',
                    newWorth: 168,
                    age: 58,
                    country: 'United States',
                    sourceOfWealth: ['Amazon'],
                    img: 'https://m.media-amazon.com/images/M/MV5BYTNlOGZhYzgtMmE3OC00Y2NiLWFhNWQtNzg5MjRhNTJhZGVmXkEyXkFqcGdeQXVyNzg5MzIyOA@@._V1_UY317_CR5,0,214,317_AL_.jpg'
                }, {
                    name: 'Gautam Adani & family',
                    newWorth: 131.1,
                    age: 60,
                    country: 'India',
                    sourceOfWealth: ['infrastructure', 'commodities'],
                    img: 'https://upload.wikimedia.org/wikipedia/commons/f/ff/Gautam_Adani.jpg'
                }, {
                    name: 'Bill Gates',
                    newWorth: 114.3,
                    age: 66,
                    country: 'United States',
                    sourceOfWealth: ['Microsoft'],
                    img: 'https://cdn.britannica.com/47/188747-050-1D34E743/Bill-Gates-2011.jpg'
                }, {
                    name: 'Larry Ellison',
                    newWorth: 109.2,
                    age: 77 ,
                    country: 'United States',
                    sourceOfWealth: ['Oracle Corporation'],
                    img: 'https://imageio.forbes.com/specials-images/imageserve/5e8b62cfc095010007bffea0/0x0.jpg?format=jpg&crop=4529,4532,x0,y652,safe&height=416&width=416&fit=bounds'
                }, {
                    name: 'Warren Buffett',
                    newWorth: 104.6,
                    age: 91,
                    country: 'United States',
                    sourceOfWealth: ['Berkshire Hathaway'],
                    img: 'https://imageio.forbes.com/specials-images/imageserve/5babb7f1a7ea4342a948b79a/0x0.jpg?format=jpg&crop=2327,2329,x748,y1753,safe&height=416&width=416&fit=bounds'
                }, {
                    name: 'Larry Page',
                    newWorth: 103.6,
                    age: 49,
                    country: 'United States',
                    sourceOfWealth: ['Alphabet Inc.'],
                    img: 'https://assets-us-01.kc-usercontent.com/5cb25086-82d2-4c89-94f0-8450813a0fd3/0d94050c-01cf-4eae-a1ba-62275cf8ee12/Larry_Page.jpg?fm=jpg&auto=format'
                }, {
                    name: 'Sergey Brin',
                    newWorth: 100.4,
                    age: 48,
                    country: 'United States',
                    sourceOfWealth: ['Alphabet Inc.'],
                    img: 'https://imageio.forbes.com/specials-images/imageserve/5c7d7c254bbe6f78090d831f/0x0.jpg?format=jpg&crop=2412,2414,x475,y168,safe&height=416&width=416&fit=bounds'
                }, {
                    name: 'Mukesh Ambani',
                    newWorth: 95.6,
                    age: 65,
                    country: 'India',
                    sourceOfWealth: ['Reliance Industries'],
                    img: 'https://imageio.forbes.com/specials-images/imageserve/5c7d7829a7ea434b351ba0b6/0x0.jpg?format=jpg&crop=1837,1839,x206,y250,safe&height=416&width=416&fit=bounds'
                }]
            }
        })
    </script>
    <script text="javascript">
        if('serviceWorker' in navigator) {   // Check if browser suupport serviceWorker
            navigator.serviceWorker.register('/sw.js').then((reg) => {  
                console.log('Service worker registered!');
            });
        }
    </script>
</html>
